.navbar {
  background-color: #fbcfcd;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #565455;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  padding-bottom: 15pt;
  transition: all 0.2s ease-out;
}
.navbar-logo:hover {
  color: #EEF1F8;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: right;
  width: 70vw;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: #565455;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.nav-link {
  color: #565455;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  color: #EEF1F8;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #565455;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.dropdown:hover .dropdown-menu {
  color: #fff;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.btn-primary {
  color: #565455;
  background-color: transparent;
  border-color: transparent;
  font-size: 15pt;
  padding: 0px;
  position:relative;
}
.btn-primary:hover {
  display: block;
  color: #565455;
  background-color: transparent;
  border-color: transparent;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus
{
  box-shadow: 0 0 0 0.25rem #fbcfcd;
}
.dropdown-item:hover {
  background-color: #ffffff;
}
.nav-links:hover {
  color: #565455;
}
.dropdown-menu {
  margin: 10px;
  position: relative;
  background-color: transparent;
  border-color: transparent;
  padding-top: 30px;
}
.dropdown-menu:hover {
  background-position-y: 20px;
}
.dropdown-toggle::after {
  content: none;
}


@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #565455;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #565455;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #EEF1F8;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #ffffff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}